
html,
body {
  height: 100%;
  margin: 0;
}


body {
  font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
}

.left-column {
  width: 530px;
  background-image: url(img/unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo img {
  max-width: 80px;
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-size: 80px;
  font-family: 'Norse';
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-left: 40px; 
  justify-content: flex-end;
  padding-bottom: 40px;
}

.header,
.footer {
  flex: 1 1 auto;
  background-color: #f9fafb;
}

.main {
  flex: 1 1 auto;
  padding-left: 40px;
}

.header > p {
  width: 650px;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  padding-left: 40px;
  padding-top: 30px;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #596D48;
  font-weight: 700;
}

#create {
  background-color: #596D48;
  color: #f9fafb;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 200px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.speaker-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  width: 600px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form-row label {
  font-size: 16px;
}

.form-row input {
  border: 1px solid;
  border-radius: 3px;
  width: 260px;
  height: 30px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: #ebe6e5;
}